# IntelliJ
.idea

# Binaries for programs and plugins
/_build

# gitlab-runner outputs
/build

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/vendor
/.vscode
yarn-error.log
.editorconfig
